/* Navbar.css */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    height: 6vh;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  