/* Projects.css */
.projects-section {
    background-color: #58a445;
    height: 94vh;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-item {
    flex: 1 1 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  